@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main{
    width:83vw ;
    padding:15px;
}
.container{
    display: flex;
    background: linear-gradient(108deg, black, black, royalblue);
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}
.d-sm-flex {
    display: flex;
}

.infoContainer{
    margin: 10% 10% 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.devInfo{
    display: inline;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.restInfo {
    align-items: baseline;
    column-gap: 2em;
    display: flex;
}

img#stacks {
    margin: 2em 1.5em 0em;
    border-radius: 0;
}

.image {
    align-self: center;
}

img {
    border-radius: 50%;
    margin: 4em;
}

img:hover{
transform: scale(1.1);
transition: all 0.2s;
}

.hello{
    font-size: 2.2em;
    font-family: 'Ibarra Real Nova', serif;
}

.name{
    font-size: 3.5em;
    font-weight: bold;
    color: royalblue;
    font-family: 'Graduate', cursive;
}

p.lead {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-variant-caps: all-small-caps;
}

.about{
    font-size:30px;
    margin-top: 1.5px;
}

h2#skills {
    margin: 2em 8em 0em;
    color: white;
    font-size: xx-large;
    font-family: system-ui;
    place-self: center;
}

.row {
    justify-content: center;
    column-gap: 2em;
    display: flex;
    padding: 2em;
    margin: 0em 5em 0em;
}

img#icon {
    margin: 2.5em 0 0.5em;
}

p.f3.b.db.link.hover-white.green.pt2 {
    color: springgreen;
    font-size: 1.5em;
}

p.lead.f4.w-90 {
    color: white;
}

p.techstacks {
    text-align: center;
    padding: 1.5em;
}

p {
    line-height: 1.3em;
    color: white;
    font-family: system-ui;
    margin-bottom: 0.5em;
}

.col-sm.pa3.mr2 {
    color: white;
}

code {
    font-family: system-ui;
    color: #1da1f2;
}

button#my-form-button {
    width: 5em;
    padding: 0.5em;
    margin: 0.4em 0.5em 0;
    align-self: center;
}

.copytext {
    margin: 0 1em 0;
    flex-direction: row;
    color: white;
    text-align: center;
    border-top-style: inset;
    font-size: 0.8em;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .btn:hover {
    color: white;
    background-color: DodgerBlue;
  }

.btn-sm{
    margin-top: 10px;
    font-size: 15px;
    margin-left: 6px;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    margin: 1em 0.5em 0.5em;
    color: springgreen;
    text-decoration: underline;
}

form {
    width: 290px;
    margin: 0.5em 15% 0em;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: 'Ibarra Real Nova', serif;
}

.contactForm h1 {
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
    margin-top: 30px;
    padding: 6px;
    font-size: 0.9em;
}

input {
    padding: 0.4em;
    margin: 0.5em;
}

textarea{
    padding: 0.4em;
    margin: 0.5em;
}

.contactForm form{
    margin: 2em 5em 0;
    font-size: 25px;
}

p#my-form-status {
    color: springgreen;
    font-size: medium;
    margin: 0.5em;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: white(255, 255, 255);
    color: black;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: grey;
  }

.mb-3{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

input#exampleInputEmail1 {
    width: 20vw;
}
#emailHelp {
    font-weight: 100;
    font-size: 13px;
}
input#exampleInputPhoneNo1 {
    width: 20vw;
}
#form-check {
    flex-direction: row;
    width: 1vw;
}
#exampleCheck1{
    margin-right:7px;
}
label.form-check-label {
    font-size: 15px;
}

div#TextString {
    font-size: 17px;
    margin-top: 10px;
}

ul.social-network.social-circle {
    justify-content: center;
    grid-column-gap: 0.5em;
    margin-bottom: 5%;
    list-style: none;
    display: flex;
    padding: 10px;
    font-size: 20px;
    margin-top: 1em;
}

.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}
a.fa.fa-envelope {
    border-radius: 50%;
    height: 22px;
    width: 21px;
    font-size: x-large;
}
a.fa.fa-linkedin {
    border-radius: 50%;
    height: 22px;
    width: 21px;
    font-size: x-large;
}
a.fa.fa-github {
    border-radius: 50%;
    height: 22px;
    width: 21px;
    font-size: x-large;
}
a.fa.fa-twitter {
    border-radius: 50%;
    height: 22px;
    width: 21px;
    font-size: x-large;
}

i.fa.fa-download {
    padding: 0px;
}

.fa:hover{
transform: rotate(360deg);
transition: all 0.2s;
}

i.fa.fa-download:hover {
transform: none;
}

.fa-envelope {
background-color: white;
color: black;
}

.fa-envelope:hover {
background-color: #000000;
color: white;
}
.fa-twitter {
background-color: white;
color: black;
}

.fa-twitter:hover {
background-color: #2899f0;
color: white;
}

.fa-github {
background-color: white;
color: black;
}

.fa-github:hover {
background-color: #000000;
color: white;
}

.fa-linkedin {
background-color: white;
color: black;
}

.fa-linkedin:hover {
background-color: #265fbb;
color: white;
}

@media(max-width:999px){
.image{
    display: none;
}
}

@media screen and (max-width: 649px) {
.row{
    flex-flow:column;
}

form{
    align-self: center;
}
}